In [125]:
print("\"Welcome to ExcelR!\"")  # "\.......\" is used to print text in double quote(" ")

"Welcome to ExcelR!"

In [126]:
"hello"

'hello'

In [127]:
120/12*2-4

16.0

In [128]:
(5-2)*10

30

In [129]:
marks=80   #marks is variable name
marks      #calling marks for printing marks value

80

In [130]:
type(marks)   #type() function is used to check datatype

int

In [131]:
5**4      #is concider the 5 raised to 4. it is a power function (5^4)

625

In [132]:
price=50.5
type(price)  #only shwos output of last
price

50.5

In [133]:
price=50.5
print(price)  #without use print() function the cell only show the outut of the last line

type(price)

50.5

float

In [134]:
name="pooja"
type(name)

str

In [135]:
dir(str)  #

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [136]:
str1="welcome to Data Science"
str1.capitalize()  #only first letter capital

'Welcome to data science'

In [137]:
str1

'welcome to Data Science'

In [138]:
str1.upper() #is change the whole string in capital letters

'WELCOME TO DATA SCIENCE'

In [139]:
str1.lower()  #its change the whole string in lower case

'welcome to data science'

In [140]:
str1.title()  #its make a title means its capital every word first letter

'Welcome To Data Science'

In [141]:
food="BaNaNa"
name="pOOJA"
print(food.swapcase())  # swapcase() function change the case of every letter .means small letter to capital and capital to small. ex-mSdHOnI to MsDhoNi
name.swapcase()

bAnAnA

'Pooja'

In [142]:
s1="My name is Pooja."
print(s1.split())  # list of strings is  created
s2="Mumbai-Pune-Mumbai"
s2.split("-")   #its have gave where from  you want separate.

['My', 'name', 'is', 'Pooja.']

['Mumbai', 'Pune', 'Mumbai']

In [143]:
s1.replace("Pooja","pooju") #its replace the word with what u want. ex- im loki from asguard to im srk from asguard. it replace loki word to srk

'My name is pooju.'

In [144]:
mail="pooja@gmail.com"
mail.split("@")

['pooja', 'gmail.com']

In [145]:
s1

'My name is Pooja.'

In [146]:
s1.replace("Pooja","sapna")  #  i have error that fun

'My name is sapna.'

In [147]:
# single line comment
'''
multiline comment
'''

'\nmultiline comment\n'

In [148]:
city="satara"
city.count("a")

3

In [149]:
"Satara".count("a")

3

In [150]:
name="Raj"
name * 4  #its print the above string 4 times

'RajRajRajRaj'

In [151]:
n1=5
n1*7  # 5*7=35

35

In [152]:
name="Rajesh"
surname="kulkarni"
name+surname  #concatenates without space

'Rajeshkulkarni'

In [153]:
name + " "+surname  # concatenates with space

'Rajesh kulkarni'

***conditional statment***

In [154]:
## IF ELSE
a=30
b=50
if a>b:
  print(a,"a is greater")
  print("In True block")
  c=a+b
  print(c)
else:
    print(b,'b is greater')
    print("In False block")
    c=a*b
    print(c)

50 b is greater
In False block
1500

In [155]:
a=200
b=300
if(a>b):
  print(a,"is greater")
else:
  print("greater number is=",b)

greater number is= 300

In [156]:
salary=25000
if (salary>20000):
   tax=0.25
   print("Hello from true if")
else:
  tax=0.20
  print("hello from false if/else")
print("bye... outside of if block")
net_sal=salary-tax*salary
print("net salary=",net_sal)

  #change value of salary as 15000 & execute again

Hello from true if
bye... outside of if block
net salary= 18750.0

In [157]:
range(5,10)

range(5, 10)

**FOR** LOOP

In [158]:

for i in range(5,10):  # print no from 5 to 9.default increment
   print(i)
print("bye")

5
6
7
8
9
bye

In [159]:
#  print no 1 to 10


for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [160]:
for i in range(1,11,2): #the last parameter used for increment / decrement
  print(i)
for i in range(11,1,-2): # using decrement
  print(i)

1
3
5
7
9
11
9
7
5
3

In [161]:
# print all even number from 1 to 20
for i in range(1,20):
  if (i%2==0):
    print(i)

2
4
6
8
10
12
14
16
18

In [162]:
# print all odd number from 1 to 20
for i in range(1,20):
  if (i%2!=0):
    print(i)

1
3
5
7
9
11
13
15
17
19

# Break **statment**

In [163]:
# 'break'  statment terminates the loop when condition is satisfied

for i in range(1,11):
  if i==5:
    print("Same")
    break
  else:
    print(i)

1
2
3
4
Same

In [164]:
for num in range(11):  # #when we take one parameter in range it concider as a ending value
   print(num, num*num)  # num and its squre

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [165]:
  #  range(start,stop,step)
for i in range(1,30,5):
    # print(i)
    print(i,"@")

1 @
6 @
11 @
16 @
21 @
26 @

In [166]:
subject="Science"
for letter in subject:    ###it is split every letter of science word
  print(letter)

S
c
i
e
n
c
e

In [167]:
#  print name 3 times on first line ,4 times o
#print name 3 times on first line ,4 times on 2nd line ,5 times on 3rd ,6 times on 4th line

name="Pooja"
for i in range(3,7):
  print(name*i)

PoojaPoojaPooja
PoojaPoojaPoojaPooja
PoojaPoojaPoojaPoojaPooja
PoojaPoojaPoojaPoojaPoojaPooja

In [168]:
# print each letter of movie on separete line
# change case of each letter (upper to small and small to upper of )
movie="Drishyam"
for letter in movie:
  #print(letter)
  #print(letter.swapcase())
  print(letter.swapcase(),end=" ") # try upper(), lower(, "-"),"#",etc

d R I S H Y A M

In [169]:
  # print   all even and odd nu between given rang using for loop
for i in range(1, 11):
   if i % 2 == 0:
      print('Even Number:', i)

   else :
     print('Odd number:', i)

Odd number: 1
Even Number: 2
Odd number: 3
Even Number: 4
Odd number: 5
Even Number: 6
Odd number: 7
Even Number: 8
Odd number: 9
Even Number: 10

In [170]:
# ptint all even odd number between given range using for loop

print('Even number:')
for i in range(1,11):
  if i % 2 == 0:
    print(i)

print('Odd number:')
for i in range(1,11):
  if i%2!=0:  # != not equal to
    print(i)

Even number:
2
4
6
8
10
Odd number:
1
3
5
7
9

In [171]:
status1=True
type(status1)
status2=False
type(status2)

bool

In [172]:
# print each letter 4 time with separetor as space
for letter in "Data Science":
  print(letter*2,end=" ")

DD aa tt aa    SS cc ii ee nn cc ee

In [173]:
len("My name")

7

In [174]:
string="hello world"

for letter in string:
  print((letter+" ")*2,end="")

h h e e l l l l o o     w w o o r r l l d d

In [175]:
len("pooja")

5

# DATA **STRUCTURE**

In [176]:
# data structure :1,list
# list are mutable.
#create using square brackets[]
marks=[40,55,70,60,80,85,78]
marks

[40, 55, 70, 60, 80, 85, 78]

In [177]:
type(marks)

list

In [178]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [179]:
len(marks)

7

In [180]:
new_marks=sorted(marks)  # create new sorted list. original mark
new_marks

[40, 55, 60, 70, 78, 80, 85]

In [181]:
marks

[40, 55, 70, 60, 80, 85, 78]

In [182]:
marks.sort()  # original list is sorted in ascending order by default
marks

[40, 55, 60, 70, 78, 80, 85]

In [183]:
marks.append(25)  # append wiil add element in the last only
marks

[40, 55, 60, 70, 78, 80, 85, 25]

In [184]:
marks.reverse()

In [185]:
marks

[25, 85, 80, 78, 70, 60, 55, 40]

In [186]:
marks2=[42,64,50,78,87,80] #sort in descending order when reverse=True

In [187]:
marks2.sort(reverse=True) ########### rong ans
marks

[25, 85, 80, 78, 70, 60, 55, 40]

In [188]:
marks3=[40,50,60,70,80,85]
marks3.sort(reverse=False)

In [189]:
marks3

[40, 50, 60, 70, 80, 85]

In [190]:
marks

[25, 85, 80, 78, 70, 60, 55, 40]

In [191]:
90 in marks # checks whether 90 is present in list or not.

False

In [192]:
85 in marks

True

In [193]:
list1=[10,20,30]
list2=[40,50,60]  #concatenation of two lists
list1 +list2

[10, 20, 30, 40, 50, 60]

In [194]:
(list1 +list2)*3  # repeats 3 times

[10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60]

In [195]:
# List of String
list3=["mango","banana","apple","pineapple","chiku","orange"]

In [196]:
list3

['mango', 'banana', 'apple', 'pineapple', 'chiku', 'orange']

In [197]:
# Display friuts by changing of all fruits to uppercase
for fruits in list3:
  print(fruits.upper()) # it print all element of list in upper case

MANGO
BANANA
APPLE
PINEAPPLE
CHIKU
ORANGE

In [198]:
for fruits in list3:
  print(fruits.upper(),end=" ") # its print all elemets in sigle line

MANGO BANANA APPLE PINEAPPLE CHIKU ORANGE

In [199]:
for fruits in list3:
  print(fruits.replace("u","a"),end=" ") # it replace u by a in wherever it find u in list . ex in chiku it print chika 🤣

mango banana apple pineapple chika orange

In [200]:
list3

['mango', 'banana', 'apple', 'pineapple', 'chiku', 'orange']

In [201]:
list3[0] # it print the element that is present on index number 0

'mango'

In [202]:
list3[5]

'orange'

In [203]:
list3.count("pineapple") # count() function check how many time that element comes in list

1

In [204]:
# slicing
list3[0:4] # its print all element from index 0 to 4

['mango', 'banana', 'apple', 'pineapple']

In [205]:
list3[1:] # its print element from index 1 to at the last

['banana', 'apple', 'pineapple', 'chiku', 'orange']

In [206]:
list3[:4] # print from 0 to 4

['mango', 'banana', 'apple', 'pineapple']

In [207]:
# negative indexing: -1 refers to last element

In [208]:
list3[-1] # it print last element of list

'orange'

In [209]:
list3[-3] # its print 3rd last element of list

'pineapple'

In [210]:
# start stop and step/incre/decre in slicing

In [211]:
print(list3)
list3[::2]# 0,2,4,6 its increse every index value by 2 and print element [::2] mean its start from 0 end at the last and increse by 2

['mango', 'banana', 'apple', 'pineapple', 'chiku', 'orange']

['mango', 'apple', 'chiku']

In [212]:
# to create list from 1 to 30

In [213]:
n1=list(range(1,31)) # it is create a list from range start from 1 to 30

In [214]:
print(n1,end=" ")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [215]:
n1[::4]

[1, 5, 9, 13, 17, 21, 25, 29]

In [216]:
# print numbers from index 2 to 26 with step / incrase value of 5
n1[2:27:5]

[3, 8, 13, 18, 23]

In [217]:
print(list3,end=' ')

['mango', 'banana', 'apple', 'pineapple', 'chiku', 'orange']

In [218]:
list3[::-1]

['orange', 'chiku', 'pineapple', 'apple', 'banana', 'mango']

In [219]:
list3[::-2]

['orange', 'pineapple', 'banana']

In [220]:
# use of " in " keyword : search substring  in given word
"the" in "netherland" # its check "the" is present in "netherland" word or not

True

In [221]:
"The" in "netherland"

False

In [222]:
"The" in "netherland"

False

In [223]:
list3.append("oos") # its add mentioned element in the list at the end
list3

['mango', 'banana', 'apple', 'pineapple', 'chiku', 'orange', 'oos']

In [224]:
list3.remove("oos") # its remove mentioned element
list3

['mango', 'banana', 'apple', 'pineapple', 'chiku', 'orange']

In [225]:
list3.remove("chiku")

In [226]:
# display fruits which contain substring "berry" using for loop
for fruits in list3:
  if "berry" in fruits:
    print(fruits)

In [227]:
# display fruits which contain substring "ppl" using for loop
for fruits in list3:
  if "ppl" in fruits:
    print(fruits)

apple
pineapple

In [228]:
list3

['mango', 'banana', 'apple', 'pineapple', 'orange']

In [229]:
# crate list4 of fruits from list3 having only berry as substring and store
list4=[]
list5=[]

for fruits in list3:
  if 'berry' in fruits:
    list4.append(fruits)
  else:
    list5.append(fruits)
print(list4,end=" ")
print(" ")
print(list5)

[]
['mango', 'banana', 'apple', 'pineapple', 'orange']

In [230]:
#print squares of all numbers of list1 to list2

In [231]:
list1=[2,3,4,5,6]
list2=[]
for i in list1:
  list2.append(i**2) # or list2.append(i*i)
print(list1,end=" ")
print(list2)

[2, 3, 4, 5, 6] [4, 9, 16, 25, 36]

In [232]:
# List comprehension - makes your code compact
l1=[2,3,4,5,6]
l2=[i**2 for i in l1]
print(l1,end=" ")
print(l2)

[2, 3, 4, 5, 6] [4, 9, 16, 25, 36]

In [233]:
list3

['mango', 'banana', 'apple', 'pineapple', 'orange']

In [234]:
newlist=[fruit for fruit in list3 if 'berry' in fruit] # it check berry in fruit if it is present then it store in newlist
print(newlist,end=" ")

[]

In [235]:
newlist1=[fruit for fruit in list3 if 'berry' not in fruit] # it check berry not in fruit if it is not present in it store in newlist1.
print(newlist1,end=" ")                                     # except berry all elements store in newlist1

['mango', 'banana', 'apple', 'pineapple', 'orange']

In [236]:
list3

['mango', 'banana', 'apple', 'pineapple', 'orange']

In [237]:
list3.index("mango")

0

In [238]:
list3.index("apple")

2

In [239]:
list3[2]="Black berry"
list3

['mango', 'banana', 'Black berry', 'pineapple', 'orange']

In [240]:
# Data structure :Tuples
# Tuples are not mutable i.e immutable
# created using round brackets / paranthesis ()

In [241]:
t1=(1,2,3,4,5) # tuple
t1

(1, 2, 3, 4, 5)

In [242]:
type(t1) # checking type of tuple

tuple

In [243]:
t1[0] # checking element through index number . checking index number 0 and at the index 0 the number present 1

1

In [244]:
t3=t1+(6,7,8,9,10) # Add tuple t1 and t3
t3

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [245]:
dir(t1) # it show how many function we can use on tuple

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [246]:
t1.count(1) # in bracket we have passed an element of tuple (not the index) . it check how many time mentioned number present in your tuple

1

In [247]:
t1.index(4) # it check what is the index of mention number .here it check what is index of number 4 and it index is 3

3

In [248]:
t2=(1,2,1,2,1,2,3,3,3,3)

In [249]:
t2.count(1) # it check how many time 1 comes in tuple t2

3

In [250]:
# indexing and slicing with tuple is same as list
# extracking elements of tuple
t1[2] # it check which number is present on index number 2

3

In [251]:
t1

(1, 2, 3, 4, 5)

In [252]:
t1[1:3] # it print number index number 1 to index number 2

(2, 3)

In [253]:
t1[3:]

(4, 5)

In [254]:
# Dictionary
# dictionary are used to store data values in "key:value pairs".
# it is collection of orderd , changeable and do not allow duplicates.
# are written in {"key:values"}
# key are unique  and isentifirs are associated with each value

In [255]:
capital_dict={"nepal":"kathmandu","itely":"rome","england":"london"} # its declaration and defination of dictionary in key value pairs
print(capital_dict)

{'nepal': 'kathmandu', 'itely': 'rome', 'england': 'london'}

In [256]:
# access element of dictionary
capital_dict["england"] # use here box bracket. this is fetch value of england .beacause we mention key

'london'

In [257]:
# keys() method  extract the key of the dictionary and returns the list of keys
capital_dict.keys()

dict_keys(['nepal', 'itely', 'england'])

In [258]:
# values() method  retuens a view of object that displays a list of values
capital_dict.values()

dict_values(['kathmandu', 'rome', 'london'])

In [259]:
# the items() method returns all the key value pairs
capital_dict.items()

dict_items([('nepal', 'kathmandu'), ('itely', 'rome'), ('england', 'london')])

In [260]:
# the update() method updates the elements form other dictionary object
add_capital={"india":"new delhi","abc":"xyz"}
capital_dict.update(add_capital) # adding value from add_capital dictionary to capital_dict

In [261]:
capital_dict

{'nepal': 'kathmandu',
 'itely': 'rome',
 'england': 'london',
 'india': 'new delhi',
 'abc': 'xyz'}

In [262]:
capital_dict.update({"australia":"sydeny"}) # using it we add mentioned key values to our present capital_dict dictionary
capital_dict

{'nepal': 'kathmandu',
 'itely': 'rome',
 'england': 'london',
 'india': 'new delhi',
 'abc': 'xyz',
 'australia': 'sydeny'}

In [263]:
# the pop() method remove and returns an element from a dictionary having mentioned key
capital_dict.pop("australia") # its remove australia and there value

'sydeny'

In [264]:
capital_dict

{'nepal': 'kathmandu',
 'itely': 'rome',
 'england': 'london',
 'india': 'new delhi',
 'abc': 'xyz'}

In [265]:
capital_dict['abc']=("mumbai") # here we change the value of key "abc"

In [266]:
capital_dict

{'nepal': 'kathmandu',
 'itely': 'rome',
 'england': 'london',
 'india': 'new delhi',
 'abc': 'mumbai'}

In [267]:
capital_dict.popitem() # popitem() method its remove last key and value

('abc', 'mumbai')

In [268]:
# values can be of diffrent data type
mylist=["mango","banana","orange","chiku","sweet potato"]
mytuple=(20,53,45,78,55)

In [269]:
mydict={"A":mylist,
        "B":mytuple,
        "C":capital_dict }

In [270]:
mydict

{'A': ['mango', 'banana', 'orange', 'chiku', 'sweet potato'],
 'B': (20, 53, 45, 78, 55),
 'C': {'nepal': 'kathmandu',
  'itely': 'rome',
  'england': 'london',
  'india': 'new delhi'}}